*, body {
    margin: 0;
    padding: 0
}

body {
    background-color: rgb(220, 243, 238);
    font-family: 'Source Sans Pro', sans-serif;
    list-style-position: inside;
}

nav{
    position: relative;
    width: 100%;
    height: 50px;
    background-color:rgb(175, 7, 7);
    box-shadow: -1px -7px 20px 0px #888;
}

nav ul{
    position: relative;
    top: 15px;
    margin: 0;
    float: right;
    right: 10%
}

nav ul li{
    float: left;
    display: block;
    margin: 0px 15px 0px 15px
}

nav ul li a{
    text-decoration: none;
    color: rgb(219, 219, 219);
    font-family: 'Source Sans Pro', sans-serif;
}

#logo {
    position: relative;
    top: 12px;
    margin: 0;
    float: left;
    left: 20px;
    display: block;
    margin: 0px 15px 0px 15px;
}

#logo a{
    text-decoration: none;
    color: rgb(218, 218, 218);
    font-family: 'Helveitca', sans-serif;
}

#container {
    position: relative;
    padding: 1%;
    box-sizing: border-box;
    min-height: 500px
}

#category-bar {
    width: 25%;
    float: left;
}

#favorite-topics, #popular-topics {
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
}

#feed {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 50%;
    float: left;
    list-style-type: none;
}

#feed ul li {
    list-style-type: none;
}

#poster-photo {
    border-radius: 50%;
    width: 5.5%;
    height: 5.5%;
    background-size: cover;
    float: left;
    position: relative;
    margin-right: 10px;
}

#poster-name {
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 0.01px;
    height: 8%;
    font-size: 16px;
}

#question {
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    float: left;
    font-size: 20px;
}

#user-response {
    margin-top: 42px;
}

#user-response ul li {
    float: left;
    display: block;
    margin: 0px 15px 0px 15px;
}

#user-response ul li a {
    text-decoration: none;
}

#user-response ul li a img {
    width: 20px;
    height: 20px;
}

#user-response form{
    float: right;
}

#people-response {
    margin-top: 80px;
    font-size: 15px;
}

#response-photo {
    border-radius: 50%;
    width: 4.5%;
    height: 4.5%;
    background-size: cover;
    float: left;
    position: relative;
    margin-right: 10px;
}

#comment-bar {
     margin-top: 10px;
}
    
#comment-bar ul li {
    float: left;
    display: block;
    margin: 0px 15px 0px 15px;
}
    
#comment-bar ul li a {
    text-decoration: none;
}
    
#comment-bar ul li a img {
    width: 15px;
    height: 15px;
}
    
#comment-bar form{
    float: right;
}

#profile {
    background-color: white;
    padding: 5px;
    width: 21%;
    float: left;
}